body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.animation-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F6EAC1;
  overflow: hidden;
}

.animation-box {
  position: relative;
  width: 500px;
  top: 300px;
  margin: auto;
}

@keyframes car {
  0% {
    right: -110%;
  }

  30% {
    right: -110%;
  }

  65% {
    right: 131px;
  }

  70% {
    right: 129px;
  }
}

@keyframes farBush {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }

  20% {
    transform: scaleY(0);
    transform: scaleX(1);
  }

  30% {
    transform: scaleY(1);
  }
}

@keyframes windmill {
  0% {
    top: 120px;
  }
  70% {
    top: -120px;
  }
}

@keyframes closeBush {
  0% {
    transform: scaleX(0)
  }

  15% {
    transform: scaleX(1)
  }
}

@keyframes house {
  0% {
    top: -500px;
  }

  10% {
    top: -500px;
  }

  30% {
    top: -81px;
  }
}

@keyframes dwell {
  0% {
    left: -1000px;
  }

  70% {
    left: -1000px;
  }

  100% {
    left: 0px;
  }
}

@keyframes accommodations {
  0% {
    right: -1000px;
  }

  70% {
    right: -1000px;
  }

  100% {
    right: 0px;
  }
}

.anisvg {
  position: absolute;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

.car {
  z-index: 7;
  width: 85px;
  top: 35px;
  right: 129px;
  animation-name: car;
  animation-timing-function: ease-out;
}

.whitebox {
  z-index: 6;
  top: 365px;
  height: 1000px;
  width: 100%;
  background-color: #FFF;
}

.close-bush {
  z-index: 5;
  width: 427px;
  animation-name: closeBush;
}

.house {
  z-index: 4;
  width: 234px;
  top: -81px;
  left: 18px;
  animation-name: house;
  animation-timing-function: ease-in;
}

.windmill {
  z-index: 3;
  width: 196px;
  right: 40px;
  top: -120px;
  animation-name: windmill;
}

.far-bush {
  z-index: 2;
  width: 435px;
  top: -50px;
  left: 27px;
  animation-name: farBush;
}

.brand {
  position: absolute;
  z-index: 10;
  top: 410px;
  width: 100%;
  text-align: center;
}

.one-fitty-seven {
  position: relative;
  width: 157px;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

.dwell {
  animation-name: dwell;
}

.accommodations {
  animation-name: accommodations;
}